<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Set Your Password</title>
</head>

<body>
    <p>Dear {{ user.first_name }} {{ user.last_name }},</p>
    <p>You recently requested to set or reset the password for your account. Please click the following link to set your
        new password:</p>
    <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
    <p>If you didn't request this, you can safely ignore this email.</p>
    <br>
    <p>Thanks,</p>
    <p>CoachSync</p>
</body>

</html>
